* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

.ant-switch {
    width: 1.25rem;
}

.ant-switch .ant-switch-inner {
    background-color: rgb(167, 41, 245);
}



@media(max-width: 600px) {
    .app {
        height: 100vh;
        padding: 0 1.5rem;
    }

   

    .bg-light {
        background-image: url('../public/assets/images/bg-mobile-light.svg');
        background-size: cover;
        background-repeat: no-repeat;
    }
.bg-dark{
    background-image: url('../public/assets/images/bg-mobile-dark.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
}

@media(min-width: 601px) {
    .app {
        /* background-image: url('../public/images/bg-desktop-light.svg'); */
        /* height: 100vh; */
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bg-light {
        background-image: url('../public/assets/images/bg-desktop-light.svg');
        background-size: cover;
        background-repeat: no-repeat
    }

    .bg-dark {
        background-image: url('../public/assets/images/bg-desktop-dark.svg');
        background-size: cover;
        background-repeat: no-repeat
    }
}